--index-url https://pypi.python.org/simple/

dj-database-url==0.4.1
django-storages==1.1.8
boto==2.38.0
waitress==0.9.0
whitenoise==3.2
django-cors-headers==1.1.0
django-classification-banner==0.1.5
django-solo==1.1.2
django-colorfield==0.1.10
psycopg2==2.6.1
python-ldap==2.4.25
django-auth-ldap==1.2.7
GDAL==2.0.1
supervisor==3.2.3
gunicorn==19.4.5
corsa==0.1.2
python-resize-image==1.1.10
mapproxy==1.9.0
djmp==0.2.8
django-registry==0.2.14
pycsw-hypermap==2.1-dev
django-terranodo-maploom==1.5.5
geonode-hypermap==2.4.dev20160815194800
